simpletweet.json
[{"id":"d0e9aaf8.fc0898","type":"tab","label":"Tweet Simple","disabled":false,"info":""},{"id":"7f924f33.2fba9","type":"debug","z":"d0e9aaf8.fc0898","name":"msg.tweet details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":220,"wires":[]},{"id":"f8dd1e76.9e94a","type":"debug","z":"d0e9aaf8.fc0898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":280,"wires":[]},{"id":"4385089.0ab8cf8","type":"function","z":"d0e9aaf8.fc0898","name":"Remove URLs and replace  #","func":"// var tweet = msg.tweet.text;\nvar tweet = msg.payload;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["57f50063.86582"]]},{"id":"57f50063.86582","type":"debug","z":"d0e9aaf8.fc0898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":280,"wires":[]},{"id":"ef2d927c.45a79","type":"twitter in","z":"d0e9aaf8.fc0898","twitter":"","tags":"#COVID-19","user":"false","name":"Listen to Twitter Feed","inputs":1,"x":150,"y":260,"wires":[["7f924f33.2fba9","f8dd1e76.9e94a","4385089.0ab8cf8"]]}]