tweetdashboard.json
[{"id":"2b391bb3.c5a7b4","type":"tab","label":"Tweet Dashboard","disabled":false,"info":""},{"id":"7ba1b700.73ccf8","type":"debug","z":"2b391bb3.c5a7b4","name":"Positive Tweet debug","active":false,"console":"false","complete":"payload","x":920,"y":280,"wires":[]},{"id":"9d3bee2b.2c96d","type":"switch","z":"2b391bb3.c5a7b4","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":610,"y":340,"wires":[["7ba1b700.73ccf8"],["f553f0b8.f91c2"]]},{"id":"2b77679c.af20d8","type":"debug","z":"2b391bb3.c5a7b4","name":"msg.sentiment.score","active":false,"console":"false","complete":"sentiment.score","x":600,"y":300,"wires":[]},{"id":"8d7e9064.73a9b","type":"twitter in","z":"2b391bb3.c5a7b4","twitter":"","tags":"#covid-19","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["3faaa64e.7a633a","a6e0c7.f590df38","be1e8ec5.0f4a2"]]},{"id":"3faaa64e.7a633a","type":"debug","z":"2b391bb3.c5a7b4","name":"msg.tweet details","active":false,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"968e3a49.1e1bc8","type":"sentiment","z":"2b391bb3.c5a7b4","name":"Sentiment of Tweets","x":350,"y":340,"wires":[["2b77679c.af20d8","9d3bee2b.2c96d","9f49fe4d.7d8b4"]]},{"id":"f553f0b8.f91c2","type":"debug","z":"2b391bb3.c5a7b4","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":900,"y":400,"wires":[]},{"id":"a6e0c7.f590df38","type":"function","z":"2b391bb3.c5a7b4","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["dcdeb452.7adee8","968e3a49.1e1bc8"]]},{"id":"dcdeb452.7adee8","type":"debug","z":"2b391bb3.c5a7b4","name":"","active":false,"console":"false","complete":"payload","x":790,"y":140,"wires":[]},{"id":"be1e8ec5.0f4a2","type":"debug","z":"2b391bb3.c5a7b4","name":"","active":false,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"7d946cb.2ac0d94","type":"function","z":"2b391bb3.c5a7b4","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["c1b016b2.801498"]]},{"id":"9f49fe4d.7d8b4","type":"delay","z":"2b391bb3.c5a7b4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":520,"wires":[["ba833011.652fb","36153cc4.6b4a14","7d946cb.2ac0d94"]]},{"id":"c1b016b2.801498","type":"cloudant out","z":"2b391bb3.c5a7b4","name":"Store Tweets","cloudant":"","database":"tweetdatabase","service":"node-red-sentiment-a-cloudant-1602494953950-83383","payonly":true,"operation":"insert","x":770,"y":520,"wires":[]},{"id":"ebe1616a.456c5","type":"ui_text","z":"2b391bb3.c5a7b4","group":"c5f32133.8d428","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":750,"y":560,"wires":[]},{"id":"5f4a38ea.d76a08","type":"ui_gauge","z":"2b391bb3.c5a7b4","name":"","group":"f7a8f632.cdcec8","order":1,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":600,"wires":[]},{"id":"ed4688b3.edd058","type":"ui_chart","z":"2b391bb3.c5a7b4","name":"","group":"c5f32133.8d428","order":2,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":750,"y":640,"wires":[[]]},{"id":"ba833011.652fb","type":"change","z":"2b391bb3.c5a7b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":560,"wires":[["ebe1616a.456c5"]]},{"id":"36153cc4.6b4a14","type":"change","z":"2b391bb3.c5a7b4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":600,"wires":[["5f4a38ea.d76a08","ed4688b3.edd058"]]},{"id":"e513fed3.26548","type":"inject","z":"2b391bb3.c5a7b4","name":"Happy test","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","x":100,"y":200,"wires":[["4904a534.bb188c"]]},{"id":"4904a534.bb188c","type":"change","z":"2b391bb3.c5a7b4","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["a6e0c7.f590df38"]]},{"id":"b5f21c34.14317","type":"inject","z":"2b391bb3.c5a7b4","name":"Sadness test","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","x":110,"y":240,"wires":[["4904a534.bb188c"]]},{"id":"4de0ff1.4cb33","type":"inject","z":"2b391bb3.c5a7b4","name":"Angry test","repeat":"","crontab":"","once":false,"topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","x":100,"y":280,"wires":[["4904a534.bb188c"]]},{"id":"c5f32133.8d428","type":"ui_group","z":"","name":"Tweet Details","tab":"f3fef583.567828","order":1,"disp":true,"width":"10"},{"id":"f7a8f632.cdcec8","type":"ui_group","z":"","name":"Tweet Scoreboard","tab":"f3fef583.567828","order":2,"disp":true,"width":"6"},{"id":"f3fef583.567828","type":"ui_tab","z":"","name":"Tweet Scoreboard","icon":"dashboard","order":1}]