tweetspeaker.json
[{"id":"b3e57301.292af","type":"tab","label":"Tweet Speaker","disabled":false,"info":""},{"id":"14428689.0bd119","type":"twitter in","z":"b3e57301.292af","twitter":"","tags":"#COVID-19","user":"false","name":"Listen to Twitter Feed","inputs":1,"x":100,"y":60,"wires":[["58561acf.8d9274","52ba123e.0a96ac","d643b7b9.893098"]]},{"id":"58561acf.8d9274","type":"debug","z":"b3e57301.292af","name":"msg.tweet details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":20,"wires":[]},{"id":"52ba123e.0a96ac","type":"debug","z":"b3e57301.292af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"d643b7b9.893098","type":"function","z":"b3e57301.292af","name":"Remove URLs and replace  #","func":"// var tweet = msg.tweet.text;\nvar tweet = msg.payload;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":140,"wires":[["9236b02e.0c791","3c4dfcf1.3564f4"]]},{"id":"9236b02e.0c791","type":"debug","z":"b3e57301.292af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":80,"wires":[]},{"id":"3c4dfcf1.3564f4","type":"sentiment","z":"b3e57301.292af","name":"sentiment of tweets","property":"payload","x":230,"y":260,"wires":[["35de1138.14379e","3d65386a.b03d98","b3b77a32.f4e2d8"]]},{"id":"35de1138.14379e","type":"switch","z":"b3e57301.292af","name":"Positive/Negative Tweets","property":"setiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":260,"wires":[[],["2963c291.35cdfe","5c2952a9.c8d5ec"]]},{"id":"3d65386a.b03d98","type":"debug","z":"b3e57301.292af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":360,"wires":[]},{"id":"5c2952a9.c8d5ec","type":"debug","z":"b3e57301.292af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Negative Tweets","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":420,"wires":[]},{"id":"2963c291.35cdfe","type":"debug","z":"b3e57301.292af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Positive tweets","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"b3b77a32.f4e2d8","type":"delay","z":"b3e57301.292af","name":"","pauseType":"queue","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":250,"y":480,"wires":[["74f2e63.f34cf18"]]},{"id":"74f2e63.f34cf18","type":"watson-text-to-speech","z":"b3e57301.292af","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/mpeg","password":"","apikey":"2yGJTAkywC3G-Epa4dM_oNiN9Esggh7dpd7yZv2RzQsp","payload-response":false,"service-endpoint":"","x":510,"y":500,"wires":[["d7015e46.4e947"]]},{"id":"d7015e46.4e947","type":"play audio","z":"b3e57301.292af","name":"","voice":"0","x":740,"y":520,"wires":[]}]