tweetsentiment.json
[{"id":"e6df01cf.1e333","type":"tab","label":"Tweet Sentiment","disabled":false,"info":""},{"id":"482c2230.b0947c","type":"twitter in","z":"e6df01cf.1e333","twitter":"","tags":"#COVID-19","user":"false","name":"Listen to Twitter Feed","inputs":1,"x":140,"y":80,"wires":[["fa1870a2.afed6","8508d75.c0bd228","427fad61.2bd374"]]},{"id":"fa1870a2.afed6","type":"debug","z":"e6df01cf.1e333","name":"msg.tweet details","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":40,"wires":[]},{"id":"8508d75.c0bd228","type":"debug","z":"e6df01cf.1e333","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":100,"wires":[]},{"id":"427fad61.2bd374","type":"function","z":"e6df01cf.1e333","name":"Remove URLs and replace  #","func":"// var tweet = msg.tweet.text;\nvar tweet = msg.payload;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":160,"wires":[["c412db1c.b7a938","c63d5b1c.16ba48"]]},{"id":"c412db1c.b7a938","type":"debug","z":"e6df01cf.1e333","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"c63d5b1c.16ba48","type":"sentiment","z":"e6df01cf.1e333","name":"sentiment of tweets","property":"payload","x":270,"y":280,"wires":[["ed7b5a36.f9c818","4d319e2d.c9e9b"]]},{"id":"ed7b5a36.f9c818","type":"switch","z":"e6df01cf.1e333","name":"Positive/Negative Tweets","property":"setiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":280,"wires":[[],["d84f625e.57e84","63463b01.00a134"]]},{"id":"4d319e2d.c9e9b","type":"debug","z":"e6df01cf.1e333","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":380,"wires":[]},{"id":"d84f625e.57e84","type":"debug","z":"e6df01cf.1e333","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Positive tweets","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"63463b01.00a134","type":"debug","z":"e6df01cf.1e333","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Negative Tweets","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":440,"wires":[]}]